<nav>
    <div class="container">

        <a class="navbar-brand navbar-logo" ui-sref="store">
        	<i class="glyphicon glyphicon-shopping-cart"></i>
        	TechyWorld
        </a>

       <div class="header-cart navbar-nav">
	        <btn class="btn btn-default" ui-sref="store.cart">
	            <span class="header-cart__title">Shopping cart</span>
	            <span class="label label-info" ng-if="!headerCtrl.cart.items.length">is empty </span>
	            <span ng-if="headerCtrl.cart.items.length">
	                <span class="label label-info"> {{ headerCtrl.cart.itemsCount }} items</span>
	                <span class="label label-success"> {{ headerCtrl.cart.total | currency}}</span>
	            </span>
	        </btn>
	    </div>

	    <div class="navbar-brand">
	    	<button class="btn-primary" ng-hide="appCtrl.user.id" ng-click="headerCtrl.redirectBtn('signin')">signin</button>

	       <button class="btn-primary" ng-hide="appCtrl.user.id" ng-click="headerCtrl.redirectBtn('signup')">signup</button>

	       <button class="btn-info" ng-show="appCtrl.user.id" ng-click="headerCtrl.transitionToDashboard(appCtrl.user.role)" class="bordered-right">
	       		<span ng-bind="appCtrl.user.username"></span>
	       </button>

	       <button class="btn-warning" ng-show="appCtrl.user.id" ng-click="headerCtrl.redirectBtn('signout')">signout</button>
		</div>
    </div>
</nav>