<div class="row">

	<div class="col-lg-4 sizefull"> 

		<div class="s-text18">Category List</div>

		<ul>
			<li ng-repeat="category in adminCtrl.categories">
				<button class="hov1 w-full btn btn-defauly btn-lg bo1"  href="" ng-click="adminCtrl.category = category" ng-bind="category.name"></button>
			</li>
		</ul>

	 </div>

	 <div class="col-lg-6 sizefull"> 

		<div class="s-text18">Add New Category</div>

		<form class="m-t-5 m-b-5">
		    <div class="form-group">
		      <label>Name:</label>
		      <input type="text" ng-model="adminCtrl.category.name" placeholder="Name" class="form-control">
		    </div>
		    <div class="form-group">
		      <label>Image:</label>
		      <input type="text" ng-model="adminCtrl.category.image" placeholder="Image" class="form-control">
		    </div>
		    <button ng-if="!adminCtrl.category._id" class="btn btn-success btn-lg" ng-click="adminCtrl.AddCategory()"> Add CAtegory</button>
		    <button ng-if="adminCtrl.category._id" class="btn btn-success btn-lg" ng-click="adminCtrl.SaveCategory()"> Save </button>
		    <button ng-if="adminCtrl.category._id" class="btn btn-warning btn-lg" ng-click="adminCtrl.ClearCategory()"> Clear </button>
		    <button ng-if="adminCtrl.category._id" class="btn btn-danger btn-lg" ng-click="adminCtrl.DeleteCategory(adminCtrl.category._id)"> Delete </button>
	   </form>


	</div>

</div>